@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #5044E5;
}

* {
  font-family: "Outfit", sans-serif;
}

.reset-tw , .reset-tw *{
  all:revert !important;
}
.c1-drawerRoot{
  z-index: 10;
}